@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Great+Vibes&family=Montserrat:wght@200;400&family=Outfit:wght@100&family=Raleway:wght@500&family=Roboto+Mono:wght@200&family=Roboto:wght@300;400&display=swap');

html,
body {
    font-family: 'Monserrat', sans-serif;
}

.display-1 {
    font-size: 9rem;
}

.fst-italic {
    font-family: 'Great Vibes';
}

.btn-primary,
.bg-primary {
    background: rgb(255, 173, 85) !important;
    border: none;
}

.btn-primary:hover {
    background: #000;
}

.p-6{
    padding: 80px;
}

.pt-6 {
    padding-top: 80px;
}

.py-6 {
    padding: 80px 0;
}


.showcase {
    background-image: url(./img/showcase.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.l-spacing {
    letter-spacing: 5px;
}


@media (max-width: 768px){
    .display-1 {
        font-size: 5rem;
    }

    .w-75,
    .w-50,
    iframe {
        width: 100% !important;
    }

    .pt-6 {
        padding-top: 40px;
    }

    .p-6 {
        padding: 40px;
    }

    .showcase {
        height: 100% !important;
        padding-bottom: 80px !important;
    }

    .about {
        text-align: center;
    }
}